.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #00311a;
  padding: 15px 30px;
}
.navbar h2 {
  color: #d5fbad
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.navbar ul li a {
  color: #d5fbad;
  font-weight: bold;
}
.navbar ul li a:hover {
  text-decoration: underline;
}